---
- name: Install at
  ansible.builtin.package:
    name: at
    state: present
  tags:
    - at

- tags:
    - at
    - at:state
  block:

    - name: Systemctl {{ at__service_enabled | bool | ternary("enable", "disable") }} --now atd
      ansible.builtin.service:
        name: atd
        enabled: "{{ at__service_enabled }}"
        state: '{{ at__service_enabled | bool | ternary("started", "stopped") }}'
